h1 {
    text-align: center;
}
.container {
    text-align: center;
}
.plybtn {
    text-align: center;
    padding: 10px;
    font-size: large;
    border: green solid 3px;
}
.ply {
    padding: 0px;
    size: 20px;
}
a {
    text-decoration: none;
    color: rgb(230, 28, 28);
    font-weight: bold;
}
.heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.dsply {
    margin: 30px;
    text-align: center;
    background: rgb(247, 160, 160);
    border: crimson solid 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(175, 6, 40);
}
.dsply div {
    text-align: center;
    display: flex;
    font-size: larger;
    padding: 7px;
    padding-left: 30px;
}

.score {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    font-weight: bold;
    height: 170px;
    background: rgb(14, 235, 14);
    width: 150px;
    margin-left: 42%;
    border: darkgreen solid 3px;
    border-radius: 15px;
}
.sc {
    font-size: 50px;
}

.correct {
    background: green;
}
.incorrect {
    background: red;
}